<h1>Reviews for <em><%= @user.username %></em>:</h1>
<ul>
<% @user.reviews.each do |review| %>
  <li><p><a href="/reviews/<%= review.id %>"><%= review.title %></a></p></li>
<% end %>
</ul>
<div class="separator">


<p class="center"><a href="/ghiblis">Studio Ghibli Archive</a> || <a href='/'>Main Page</a></p>


