<h3>Favorite Ghibli Films and reviews for <em><%= @user.username %></em>:</h3>

<ul>
  <% @user.reviews.each do |review| %>
    <li>
      <p>
        <a href="/reviews/<%= review.id %>">
          <%= review.title %>
        </a>
      </p>
    </li>
  <% end %>
</ul>

<p class="center">
  <a href="/reviews">Browse All reviews</a> || <a href='/'>Main Page</a>
</p>
