<h3>Favorite Ghibli Films and reviewss for <em><%= @user.username %></em>:</h3>
<ul>
<% @user.reviews.each do |reviews| %>
  <li><p><a href="/reviews/<%= reviews.id %>"><%= reviews.title %></a></p></li>
<% end %>
</ul>

<p class="center"><a href="/reviews">Browse All reviews</a> || <a href='/'>Main Page</a></p>