
<h1> Welcome to Ghibli Fan Reviews, sign up and lets discuss! </h1>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" value="secret" placeholder="">
  <button type="submit" name ="Submit" value="Submit" alt="Sign In">
    <img src="/images/ghiblisubmitbutton.png" width=55>
  </button>
</form>
