<ul>
<% @ghiblis.each do |g| %>
  <li><%= g.title <a href="/#{@g.title}"></a> %></li>
<% end %>
</ul>


<ul>
   <li><a href="<%= g.params[:params] %>" target="_blank"><p class="h4"><%= luckyvideo.title %></p></a></li>
</ul>
<% end %>