<p>Edit your Review:</p>
<form action="/reviews/<%=@review.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Title: <input type="text" name="review[:title]" value="<%= @review.title %>"></p><br>
  <p>Content: </p>
  <textarea name="review[:content]" rows = "10" cols = "50" value="<%= @review.content %>"></textarea><br>
  <input type="submit" value="Update Review" />
</form>

